<!Doctype html>
<html>
	<head>
		<title></title>
		{% block styles %}
			<link rel="stylesheet" href="/stylesheets/style.css" />
		{% endblock %}
	</head>
	<body>
		{% block container %}{%endblock%}
	</body>
</html>